<style>
    #new-family label {
        width: 200px;
    }
</style>

<div class="container">
    <div [class.hidden]="!familyAdded" class="row">
        <div class="col-xs-6 alert-success">
            Familie hinzugefügt.
        </div>
    </div>

    <div class="row">
        <div id="new-family" class="col-xs-12">
            <form [ngFormModel]="newFamilyForm" (ngSubmit)="onSubmit(newFamilyForm.value)">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" type="text"
                           [ngFormControl]="newFamilyForm.controls['name']"
                    />
                </div>

                <div>
                    <label for="category">Kategorie:</label>

                    <select name="category" id="category" [ngFormControl]="newFamilyForm.controls['category']">
                        <option value="" disabled checked>Bitte wählen</option>
                        <option *ngFor="#category of categories" value="{{category.name}}">{{category.name}}</option>
                    </select>
                </div>
                <button type="submit" [disabled]="!newFamilyForm.valid">Familie speichern</button>
            </form>
        </div>
    </div>
</div>
