@font-face {
  font-family: 'Conv_Niconne-Regular';
  src: url('/assets/fonts/Niconne-Regular.eot');
  src: local('☺'), url('/assets/fonts/Niconne-Regular.woff') format('woff'), url('/assets/fonts/Niconne-Regular.ttf') format('truetype'), url('/assets/fonts/Niconne-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}