<style>
    .label-temp {
        display: inline-block;
        width: 150px;
        font-weight: bold;
    }
    .list-group > li:nth-child(2n) {
        background: #eee;
    }
</style>
<div class="container">
    <ul class="list-group">
        <li *ngFor="#product of products" class="list-group-item">
            <h3 class="list-group-item-heading">{{product.name}} <small>{{product.family}} - {{product.category}}</small></h3>
            <ul>
                <li>
                    <span class="label-temp">Anbau:</span>
                    {{product.plantStartDay}}. {{months[product.plantStartMonth].name}}
                    -
                    {{product.plantEndDay}}. {{months[product.plantEndMonth].name}}
                </li>
                <li>
                    <span class="label-temp">Ernte:</span>
                    {{product.harvestStartDay}}. {{months[product.harvestStartMonth].name}}
                    -
                    {{product.harvestEndDay}}. {{months[product.harvestEndMonth].name}}
                </li>
                <li><span class="label-temp">Lagerdauer: </span>{{product.storageDays}}</li>
                <li><span class="label-temp">Kurzbeschreibung: </span>{{product.shortDescription}}</li>
                <li><span class="label-temp">Langtext: </span>{{product.description}}</li>
            </ul>
        </li>
    </ul>
</div>
