<style>
    #new-product label {
        width: 200px;
    }
</style>

<div class="container">
    <div [class.hidden]="!productAdded" class="row">
        <div class="col-xs-6 alert-success">
            Produkt hinzugefügt.
        </div>
    </div>

    <div class="row">
        <div id="new-product" class="col-xs-12">
            <form [ngFormModel]="newProductForm" (ngSubmit)="onSubmit(newProductForm.value)">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" type="text"
                           [ngFormControl]="newProductForm.controls['name']"
                    />
                </div>

                <div>
                    <label for="family-select">Familie:</label>
                    <select name="family-select" id="family-select" #familyIndex
                            (change)="updateCat(familyIndex.value)"
                            [ngFormControl]="newProductForm.controls['family']"
                    >
                        <option value="" disabled checked>Bitte wählen</option>
                        <option *ngFor="let family of families; let i = index" value="{{i}}">{{family.name}} </option>
                    </select>
                </div>

                <div>
                    <label>Kategorie:</label>
                    <span>{{newProduct.category}}</span>
                </div>

                <div>
                    <label for="plantStart">Anbaubeginn</label>
                    <input type="date" id="plantStart" name="plantStart"
                           [ngFormControl]="newProductForm.controls['plantStart']"
                    >
                </div>

                <div>
                    <label for="plantEnd">Anbauende</label>
                    <input type="date" id="plantEnd" name="plantEnd"
                           [ngFormControl]="newProductForm.controls['plantEnd']"
                    >
                </div>

                <div>
                    <label for="havestStart">Erntebeginn</label>
                    <input type="date" id="havestStart" name="havestStart"
                           [ngFormControl]="newProductForm.controls['harvestStart']"
                    >
                </div>

                <div>
                    <label for="havestEnd">Ernteende</label>
                    <input type="date" id="havestEnd" name="havestEnd"
                           [ngFormControl]="newProductForm.controls['harvestEnd']"
                    >
                </div>


                <div>
                    <label for="storageDays">Lagertage:</label>
                    <input id="storageDays" type="number"
                           [ngFormControl]="newProductForm.controls['storageDays']"
                    />
                </div>

                <div>
                    <label for="shortDescription">Kurzbeschreibung:</label>
                    <textarea id="shortDescription"
                              [ngFormControl]="newProductForm.controls['shortDescription']"
                    ></textarea>
                </div>

                <div>
                    <label for="Description">Langtext:</label>
                    <textarea id="Description"
                              [ngFormControl]="newProductForm.controls['description']"
                    ></textarea>
                </div>
                <button type="submit" [disabled]="!newProductForm.valid">Produkt speichern</button>
            </form>
        </div>
    </div>
</div>
