<style>
    #new-product label {
        width: 200px;
    }
</style>

<div class="container">
    <div [class.hidden]="!productAdded" class="row">
        <div class="col-xs-6 alert-success">
            Produkt hinzugefügt.
        </div>
    </div>

    <div class="row">
        <div id="new-product" class="col-xs-12">
            <form [ngFormModel]="newProductForm" (ngSubmit)="onSubmit(newProductForm.value)">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" type="text"
                           [ngFormControl]="newProductForm.controls['name']"
                    />
                </div>

                <div>
                    <label for="family-select">Familie:</label>
                    <select name="family-select" id="family-select" #familyIndex
                            (change)="updateCat(familyIndex.value)"
                    >
                        <option value="" disabled checked>Bitte wählen</option>
                        <option *ngFor="#family of families; #i = index" value="{{i}}">{{family.name}} </option>
                    </select>
                    <input id="family" type="family" hidden
                           [ngFormControl]="newProductForm.controls['family']"
                           value="{{newProductForm.value.family}}"
                    />
                    <input id="category" type="text" hidden
                           [ngFormControl]="newProductForm.controls['category']"
                           value="{{newProductForm.value.category}}"
                    />
                </div>

                <div>
                    <label>Kategorie:</label>
                    <span>{{newProductForm.value.category}}</span>
                </div>

                <div>
                    <label for="plantStart">Anbaubeginn</label>
                    <input type="date" id="plantStart" name="plantStart"
                           #plantStart
                           (change)="updateDateOf('plantStart', plantStart.value)"
                    >
                    <input id="plantStartMonth" type="number" hidden
                           [ngFormControl]="newProductForm.controls['plantStartMonth']"
                           value="{{getMonthOfDate(plantStart.value)}}"
                    />
                    <input id="plantStartDay" type="number" hidden
                           [ngFormControl]="newProductForm.controls['plantStartDay']"
                           value="{{getDayOfDate(plantStart.value)}}"
                    />
                </div>

                <div>
                    <label for="plantEnd">Anbauende</label>
                    <input type="date" id="plantEnd" name="plantEnd"
                           #plantEnd
                           (change)="updateDateOf('plantEnd', plantEnd.value)"
                    >
                    <input id="plantEndMonth" type="number" hidden
                           [ngFormControl]="newProductForm.controls['plantEndMonth']"
                           value="{{getMonthOfDate(plantEnd.value)}}"
                    />
                    <input id="plantEndDay" type="number" hidden
                           [ngFormControl]="newProductForm.controls['plantEndDay']"
                           value="{{getDayOfDate(plantEnd.value)}}"
                    />
                </div>

                <div>
                    <label for="havestStart">Erntebeginn</label>
                    <input type="date" id="havestStart" name="havestStart"
                           #harvestStart
                           (change)="updateDateOf('harvestStart', harvestStart.value)"
                    >
                    <input id="harvestStartMonth" type="number" hidden
                           [ngFormControl]="newProductForm.controls['harvestStartMonth']"
                           value="{{getMonthOfDate(harvestStart.value)}}"
                    />
                    <input id="harvestStartDay" type="number" hidden
                           [ngFormControl]="newProductForm.controls['harvestStartDay']"
                           value="{{getDayOfDate(harvestStart.value)}}"
                    />
                </div>

                <div>
                    <label for="havestEnd">Ernteende</label>
                    <input type="date" id="havestEnd" name="havestEnd"
                           #harvestEnd
                           (change)="updateDateOf('harvestEnd', harvestEnd.value)"
                    >
                    <input id="harvestEndMonth" type="number" hidden
                           [ngFormControl]="newProductForm.controls['harvestEndMonth']"
                           value="{{getMonthOfDate(harvestEnd.value)}}"
                    />
                    <input id="harvestEndDay" type="number" hidden
                           [ngFormControl]="newProductForm.controls['harvestEndDay']"
                           value="{{getDayOfDate(harvestEnd.value)}}"
                    />
                </div>


                <div>
                    <label for="storageDays">Lagertage:</label>
                    <input id="storageDays" type="number"
                           [ngFormControl]="newProductForm.controls['storageDays']"
                    />
                </div>

                <div>
                    <label for="shortDescription">Kurzbeschreibung:</label>
                    <textarea id="shortDescription"
                              [ngFormControl]="newProductForm.controls['shortDescription']"
                    ></textarea>
                </div>

                <div>
                    <label for="Description">Langtext:</label>
                    <textarea id="Description"
                              [ngFormControl]="newProductForm.controls['description']"
                    ></textarea>
                </div>
                <button type="submit" [disabled]="!newProductForm.valid">Produkt speichern</button>
            </form>
        </div>
    </div>
</div>
