<style>
    #new-product label {
        width: 200px;
    }
</style>

<div class="container">
    <div [class.hidden]="!productAdded" class="row">
        <div class="col-xs-6 alert-success">
            Produkt hinzugefügt.
        </div>
    </div>

    <div class="row">
        <div id="new-product" class="col-xs-12">
            <form [ngFormModel]="newProductForm" (ngSubmit)="onSubmit(newProductForm.value)">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" type="text"
                           [ngFormControl]="newProductForm.controls['name']"
                    />
                </div>

                <div>
                    <label for="family">Familie:</label>
                    <select name="family" id="family" [ngFormControl]="newProductForm.controls['family']">
                        <option value="" disabled checked>Bitte wählen</option>
                        <option *ngFor="#family of families" value="{{family.name}}">{{family.name}}</option>
                    </select>
                    <input id="category" type="text" class="hidden" hidden
                           [ngFormControl]="newProductForm.controls['category']"
                    />
                </div>

                <div>
                    <label for="plantStartMonth">Saatmonat Start:</label>
                    <input id="plantStartMonth" type="number"
                           [ngFormControl]="newProductForm.controls['plantStartMonth']"
                    />
                </div>

                <div>
                    <label for="plantStartDay">Saattag Start:</label>
                    <input id="plantStartDay" type="number"
                           [ngFormControl]="newProductForm.controls['plantStartDay']"
                    />
                </div>

                <div>
                    <label for="plantEndMonth">Saatmonat Ende:</label>
                    <input id="plantEndMonth" type="number"
                           [ngFormControl]="newProductForm.controls['plantEndMonth']"
                    />
                </div>

                <div>
                    <label for="plantEndDay">Saattag Ende:</label>
                    <input id="plantEndDay" type="number"
                           [ngFormControl]="newProductForm.controls['plantEndDay']"
                    />
                </div>

                <div>
                    <label for="harvestStartMonth">Erntemonat Start:</label>
                    <input id="harvestStartMonth" type="number"
                           [ngFormControl]="newProductForm.controls['harvestStartMonth']"
                    />
                </div>

                <div>
                    <label for="harvestStartDay">Erntetag Start:</label>
                    <input id="harvestStartDay" type="number"
                           [ngFormControl]="newProductForm.controls['harvestStartDay']"
                    />
                </div>

                <div>
                    <label for="harvestEndMonth">Erntemonat Ende:</label>
                    <input id="harvestEndMonth" type="number"
                           [ngFormControl]="newProductForm.controls['harvestEndMonth']"
                    />
                </div>

                <div>
                    <label for="harvestEndDay">Erntetag Ende:</label>
                    <input id="harvestEndDay" type="number"
                           [ngFormControl]="newProductForm.controls['harvestEndDay']"
                    />
                </div>

                <div>
                    <label for="storageDays">Lagertage:</label>
                    <input id="storageDays" type="number"
                           [ngFormControl]="newProductForm.controls['storageDays']"
                    />
                </div>

                <div>
                    <label for="shortDescription">Kurzbeschreibung:</label>
                    <textarea id="shortDescription"
                              [ngFormControl]="newProductForm.controls['shortDescription']"
                    ></textarea>
                </div>

                <div>
                    <label for="Description">Langtext:</label>
                    <textarea id="Description"
                              [ngFormControl]="newProductForm.controls['description']"
                    ></textarea>
                </div>
                <button type="submit" [disabled]="!newProductForm.valid">Produkt speichern</button>
            </form>
        </div>
    </div>
</div>
