<div id="product-list" class="container">
    <div class="page-header">
        <h2>Produkte</h2>
    </div>
    <div class="btn-group" role="group">
        <a [routerLink]="['Products']" type="button" class="btn btn-default">Neues Produkt</a>
        <a  type="button" class="btn btn-default">Produkt ändern</a>
        <a  type="button" class="btn btn-default">Neue Familie</a>
        <a  type="button" class="btn btn-default">Familie ändern</a>
        <a  type="button" class="btn btn-default">Neue Kategorie</a>
        <a  type="button" class="btn btn-default">Kategorie ändern</a>
    </div>


    <hr>

    <router-outlet></router-outlet>
</div>