<section id="fresh-products">
    <button id="fresh-products-btn-up" class="hidden-xs" [class.active]="canSlideUp === true" (click)="slide('up')"><span class="icon icon-arrow-up"></span></button>
    <button id="fresh-products-btn-down" class="hidden-xs" [class.active]="canSlideDown === true" (click)="slide('down')"><span class="icon icon-arrow-down"></span></button>

    <div id="fresh-products__cont">
        <div id="animation-pane">

            <article
                    *ngFor="let product of products; let i = index"
                    [class.active]="shownProd === i"
                    [class.inactive]="shownProd < (i - 1) || shownProd > (i + 1)">
                <div class="article-cont">
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <div class="embed-responsive embed-responsive-4by3">
                                <div *ngIf="product.image">
                                    <img src="{{product.image.substr(0, product.image.length - 4) + '_thumb' + product.image.substr(-4)}}" class="embed-responsive-item">
                                </div>
                                <div *ngIf="!product.image">
                                    <img src="src/img/img-placeholder.png" class="embed-responsive-item">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h2 class="text-center">{{product.name}}</h2>
                            <div class="details">
                                <h4 class="text-center">
                                    {{getHarvestInfo(product)}}
                                </h4>
                                <div class="row">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <p>{{product.shortDescription}}</p>
                                        <div class="pull-right">
                                            <a (click)="goToProduct(product)" class="btn btn-primary">Mehr</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>