<section id="sidebar">
    <div id="logo">
        <a [routerLink]="['FreshProducts']">
            <img sizes="(min-width: 1500px) 20vw,
                            (min-width: 1000px) 25vw,
                            (min-width: 600px) 60vw, 100vw"
                 srcset="src/img/logo.png 400w,
                             src/img/logo.png 600w,
                             src/img/logo.png 800w"/>
        </a>
    </div>

    <nav id="main-nav">
        <a [routerLink]="['FreshProducts']" class="btn btn-default btn-block">Frisch vom Feld</a>
        <a [routerLink]="['Products']" class="btn btn-default btn-block">Produkte</a>
        <a [routerLink]="['SeasonCalendar', {month: month}]" class="btn btn-default btn-block">Saisonkalender</a>
        <a [routerLink]="['Recipes']" class="btn btn-default btn-block">Rezepte</a>
        <a [routerLink]="['Search']" class="btn btn-default btn-block">Suche</a>
    </nav>

    <footer>
        <span>&copy; 2016, saisonal.at</span>
        <nav id="footer-nav">
            <a href="#">Kontakt</a>
            <a href="#">Impressum</a>
        </nav>
    </footer>
</section>


<section id="main-content" (scroll)="scrolled($event)">
    <router-outlet></router-outlet>
</section>

<aside id="calendar-corner" class="hidden-xs"></aside>