<div id="product-editor">
    <h2>Neues Produkt anlegen</h2>
    <div class="row">
        <div class="col-sm-7">
            <form [ngFormModel]="newProductForm" (ngSubmit)="onSubmit(newProductForm.value)">

                <input type="hidden" [ngFormControl]="newProductForm.controls['image']">

                <div class="form-area">
                    <label for="name">Produktname</label>
                    <input id="name" type="text"
                           placeholder="Produktname"
                           [ngFormControl]="newProductForm.controls['name']"/>

                    <div class="row">
                        <div class="col-xs-6">
                            <label for="family-select">Produktfamilie</label>
                            <select name="family-select" id="family-select" #familyIndex
                                    (change)="updateCat(familyIndex.value)"
                                    [ngFormControl]="newProductForm.controls['family']">
                                <option value="" disabled checked>Bitte wählen</option>
                                <option *ngFor="let family of families; let i = index" value="{{i}}">{{family.name}}</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <label>Produktkategorie</label>
                            <span>{{newProduct.category}}</span>
                        </div>
                    </div>
                </div>


                <div class="form-area">
                    <table class="month-select">
                        <thead>
                        <tr>
                            <td></td>
                            <td *ngFor="let month of months" class="border">{{month.name.substr(0, 3)}}</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="selection-result">
                            <td>Anbau</td>
                            <td class="border"
                                [class.active]="plant.indexOf(i) >= 0"
                                *ngFor="let month of months; let i = index"></td>
                        </tr>
                        <tr class="selection-span">
                            <td>Beginn</td>
                            <td class="border selectable"
                                [class.active]="newProduct.plantStartMonth == i"
                                (click)="updatePlantStart(1, i)"
                                *ngFor="let month of months; let i = index"></td>
                        </tr>
                        <tr>
                            <td>Ende</td>
                            <td class="border selectable"
                                [class.active]="newProduct.plantEndMonth == i"
                                (click)="updatePlantEnd(1, i)"
                                *ngFor="let month of months; let i = index"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="form-area">
                    <div class="row">
                        <div class="col-xs-6">
                            <label>Anbau</label>




                        </div>
                        <div class="col-xs-6">
                            <label for="plantEnd">Anbauende</label>
                            <input type="date" id="plantEnd" name="plantEnd"
                                   [ngFormControl]="newProductForm.controls['plantEnd']">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <label for="havestStart">Erntebeginn</label>
                            <input type="date" id="havestStart" name="havestStart"
                                   [ngFormControl]="newProductForm.controls['harvestStart']">
                        </div>
                        <div class="col-xs-6">
                            <label for="havestEnd">Ernteende</label>
                            <input type="date" id="havestEnd" name="havestEnd"
                                   [ngFormControl]="newProductForm.controls['harvestEnd']">
                        </div>
                    </div>

                    <label for="storageDays">Lagertage</label>
                    <input id="storageDays" type="number"
                           placeholder="Lagertage"
                           [ngFormControl]="newProductForm.controls['storageDays']"/>
                </div>

                <div class="form-area">
                    <label for="shortDescription">Kurzbeschreibung</label>
                <textarea id="shortDescription"
                          placeholder="Kurzbeschreibung"
                          [ngFormControl]="newProductForm.controls['shortDescription']"></textarea>
                </div>

                <div class="form-area">
                    <label for="description">Detailbeschreibung</label>
                <textarea id="description"
                          placeholder="Detailbeschreibung"
                          [ngFormControl]="newProductForm.controls['description']"></textarea>
                </div>
                <button type="submit" [disabled]="!newProductForm.valid">Produkt speichern</button>
            </form>
        </div>

        <div class="col-sm-4">
            <form enctype="multipart/form-data" action="/upload/product-image" method="post" class="dropzone"></form>
        </div>
    </div>
</div>