<h2 class="hl-bg">Dashboard</h2>

<h3>TODO</h3>
<ul>
    <li>
        Besucheranzahl
        <ul>
            <li>Heute</li>
            <li>Diese Woche</li>
            <li>Gesamt</li>
            <li>Google Maps mit User-Herkunft</li>
        </ul>
    </li>

    <li>
        Top 3 Produkte
        <ul>
            <li>Trend (welche Produkte steigen stark)</li>
            <li>Gesamt</li>
        </ul>
    </li>

    <li>
        Recommender-System (welche Produkte sollten hervorgehoben werden, um Beliebtheit zu steigern)
    </li>


</ul>