<div id="season-calendar__menu">
    <div class="container">
        <div class="pull-left">
            <span>Reif im: </span>
            <a class="btn btn-default"><span class="icon icon-arrow-left"></span></a>
            <span>September</span>
            <a class="btn btn-default"><span class="icon icon-arrow-right"></span></a>
        </div>

        <div class="pull-right">
            <span>Filter:</span>
            <a href="#" class="btn btn-default btn-sm">Alle</a>
            <a href="#" class="btn btn-default btn-sm">Obst</a>
            <a href="#" class="btn btn-default btn-sm">Gemüse</a>
        </div>
    </div>
</div>