<div id="product-list">
    <div class="row">
        <div id="product-list__cont">
            <article id="product-{{i}}" class="product-thumb col-xs-6 col-md-4"
                    *ngFor="let product of products; let i = index"
                    [class.hidden]="(filteredCategories.length > 0 && filteredCategories.indexOf(product.category) < 0) || (filterRipe && !(product.harvestStartMonth <= actMonth && product.harvestEndMonth >= actMonth))">
                <a [routerLink]="['ProductDetails', {id: product._id}]">
                    <figure>
                        <div class="product-img">
                            <div class="embed-responsive embed-responsive-4by3">
                                <div *ngIf="product.image">
                                    <img src="{{product.image}}" class="embed-responsive-item">
                                </div>
                                <div *ngIf="!product.image">
                                    <img src="src/img/img-placeholder.png" class="embed-responsive-item">
                                </div>
                            </div>
                        </div>
                        <figcaption>
                            <h3><span *ngIf="product.harvestStartMonth <= actMonth && product.harvestEndMonth >= actMonth" class="status status--ripe"></span>{{product.name}}</h3>
                        </figcaption>
                    </figure>
                </a>
            </article>
        </div>

        <div id="index-menu">
            <div id="index-menu__top">
                <button id="filter-btn" (click)="toggleFilterMenu()" [class.active]="filterMenuActive == true"><span class="icon icon-filter"></span></button>
                <div id="filter-menu" [class.hidden]="filterMenuActive == false">
                    <div id="filter-menu-overlay" (click)="toggleFilterMenu()"></div>
                    <ul class="list-group" id="filter-menu-content">
                        <li class="list-group-item">
                            <input type="checkbox" name="actual" id="actual" #ripe (change)="onlyShowRipe(ripe.checked)"> <label for="actual">Jetzt reif</label>
                        </li>

                        <li class="list-group-item"
                            *ngFor="let category of categories; let i = index">
                            <input #test type="checkbox" name="category-{{i}}" id="category-{{i}}"
                                (change)="setFilter(category.name, test.checked)"
                                [checked]="category.active">
                            <label attr.for="category-{{i}}">{{category.name}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="index-menu__main">
                <nav id="indices">
                    <a *ngFor="let index of indices"
                       href="{{index.selector}}" [class.active]="index.active === true"  (click)="scrollTo($event)" class="btn-index">{{index.name}}</a>
                </nav>
            </div>
        </div>
    </div>
</div>