<section id="product-list">
    <div class="container">
        <div>

            <div *ngFor="#group of productsSorted">

                <h1 class="text-white text-center niconne">{{group.groupName}}</h1>

                <article
                        *ngFor="#product of group.products"
                        [class.fruit]="product.category.name === 'Obst'"
                        [class.vegetable]="product.category.name === 'Gemüse'"
                        class="product-thumb">
                    <div class="headline">
                        <h3>{{product.name}}</h3>
                    </div>
                    <div class="family">
                        {{product.family.name}}
                    </div>
                    <figure>
                        <img src="http://placehold.it/250x180" class="img-responsive">
                        <figcaption>
                            {{product.shortDescription}}
                        </figcaption>
                    </figure>

                    <div>
                        <a [routerLink]="['ProductDetails', {productId: product._id}]" class="btn btn-sm bg-beige">mehr</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>