<style>
    #new-category label {
        width: 200px;
    }
</style>

<div class="container">
    <div [class.hidden]="!categoryAdded" class="row">
        <div class="col-xs-6 alert-success">
            Kategorie hinzugefügt.
        </div>
    </div>

    <div class="row">
        <div id="new-category" class="col-xs-12">
            <form [ngFormModel]="newCategoryForm" (ngSubmit)="onSubmit(newCategoryForm.value)">
                <div>
                    <label for="name">Name:</label>
                    <input id="name" type="text"
                           [ngFormControl]="newCategoryForm.controls['name']"
                    />
                </div>
                <button type="submit" [disabled]="!newCategoryForm.valid">Kategorie speichern</button>
            </form>
        </div>
    </div>
</div>
