<seciton id="sidebar">
    <div id="logo">
        <img src="http://placehold.it/600x500" class="img-responsive">
    </div>

    <nav id="main-nav">
        <a href="#" class="nav-item"><h4>Übersicht</h4></a>
        <a href="#" class="nav-item"><h4>Trends</h4></a>
        <a [routerLink]="['Products']" class="nav-item"><h4>Produkte</h4></a>
        <a [routerLink]="['Recipes']" class="nav-item"><h4>Rezepte</h4></a>
    </nav>

    <footer>
        <nav id="footer-nav">
            <sapn>&copy; by saisonal.at</sapn>
        </nav>
    </footer>
</seciton>




<div id="main-content">
    <router-outlet></router-outlet>
</div>