<header>
    <div id="header-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/"><h1 class="main-hl">Saisonal-Manager</h1></a>
                </div>
            </div>
        </div>
    </div>

    <nav class="container">
        <div class="btn-group" role="group">
            <a [routerLink]="['Products']" type="button" class="btn btn-default">Produkte</a>
            <a [routerLink]="['Recipes']" type="button" class="btn btn-default">Rezepte</a>
        </div>
    </nav>
</header>

<div id="content--main">
    <router-outlet></router-outlet>
</div>