<div id="season-calendar">
    <section id="season-calendar__menu">
        <div class="row">
            <div class="col-xs-2 col-sm-3 text-right">
                <a (click)="goToPrevMonth()" class="link-arrow icon icon-arrow-left"></a>
            </div>
            <div class="col-xs-8 col-sm-6 text-center">
                <h1 class="inline-block"><span *ngIf="actMonth == selectedMonth" class="status status--ripe"></span>{{monthNames[selectedMonth].name}}</h1>
            </div>
            <div class="col-xs-2 col-sm-3 text-left">
                <a (click)="goToNextMonth()" class="link-arrow icon icon-arrow-right"></a>
            </div>
        </div>
    </section>

    <section id="season-calendar__product-list">
        <div class="row">
            <article *ngFor="let product of products"
                    (click)="goToProduct(product)"
                    class="col-xs-6 col-sm-4 text-center">
                <figure>
                    <div class="product-img">
                        <div class="embed-responsive embed-responsive-4by3">
                            <div *ngIf="product.image">
                                <img src="{{product.image.substr(0, product.image.length - 4) + '_thumb' + product.image.substr(-4)}}" class="embed-responsive-item">
                            </div>
                            <div *ngIf="!product.image">
                                <img src="src/img/img-placeholder.png" class="embed-responsive-item">
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h2>{{product.name}}</h2>
                    </figcaption>
                </figure>
            </article>
        </div>
    </section>
</div>