<div id="season-calendar">
    <section id="season-calendar__menu">
        <div class="row">
            <div class="col-xs-2 col-sm-3 text-right">
                <a (click)="goToPrevMonth()" class="link-arrow icon icon-arrow-left"></a>
            </div>
            <div class="col-xs-8 col-sm-6 text-center">
                <h1 class="inline-block">{{monthNames[actMonth].name}}</h1>
            </div>
            <div class="col-xs-2 col-sm-3 text-left">
                <a (click)="goToNextMonth()" class="link-arrow icon icon-arrow-right"></a>
            </div>
        </div>
    </section>

    <section id="season-calendar__product-list">
        <div class="row">
            <article *ngFor="let product of products"
                    (click)="goToProduct(product)"
                    class="col-xs-6 col-sm-4 text-center">
                <figure>
                    <div class="embed-responsive embed-responsive-4by3">
                        <div *ngIf="product.image">
                            <img src="{{product.image}}" class="embed-responsive-item">
                        </div>
                        <div *ngIf="!product.image">
                            <img src="http://placehold.it/400x300" class="embed-responsive-item">
                        </div>
                    </div>
                    <figcaption>
                        <h2>{{product.name}}</h2>
                    </figcaption>
                </figure>
            </article>
        </div>
    </section>
</div>