<header>
    <div id="header-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/"><h1 class="main-hl">Saisonal-Manager</h1></a>
                </div>
            </div>
        </div>
    </div>

    <nav id="menu--main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a [routerLink]="['Products']" [class.menuActive]="smallMenu === true" (click)="menuActive()" class="btn">
                        Produkte
                        <img src="http://placehold.it/800x480" class="img-responsive" />
                        <div>Zur Obst & Gemüse - Liste</div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a [routerLink]="['Recipes']" [class.menuActive]="smallMenu === true" (click)="menuActive()" class="btn">Rezepte
                        <img src="http://placehold.it/800x480" class="img-responsive" />
                        <div>Zur Rezept - Liste</div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div id="content--main">
    <router-outlet></router-outlet>
</div>