<!-- TODO unify this with product-list-template -->
<section id="product-details">
    <div class="row">
        <div class="col-sm-1">
            <a onclick="window.history.back()"
               (click)="_router.renavigate()"
               class="link-arrow">
                <span class="icon icon-arrow-left"></span>
            </a>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 text-center">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div *ngIf="recipe?.image">
                            <img src="{{recipe?.image}}" class="embed-responsive-item">
                        </div>
                        <div *ngIf="!recipe?.image">
                            <img src="src/img/img-placeholder.png" class="embed-responsive-item">
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="text-center">{{recipe?.name}}</h1>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>&nbsp;</p>
                    <div class="text-center">
                        <h3 class="hl-bg">Zutaten</h3>
                    </div>
                    <p>&nbsp;</p>
                    <div class="ingredients" [innerHtml]="recipe?.ingredients"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p>&nbsp;</p>
                    <div class="text-center">
                        <h3 class="hl-bg">Zubereitung</h3>
                    </div>
                    <p>&nbsp;</p>
                    <div class="description" [innerHtml]="recipe?.description"></div>
                </div>
            </div>

        </div>
    </div>

</section>