<header>
    <img src="/src/img/bg.jpg" id="header-bg">
    <div id="header-box">
        <h1 class="main-hl text-center">Saisonal</h1>

        <div id="popular-products" style="min-height: 300px;">
            <popular-products></popular-products>
        </div>
    </div>

    <nav id="menu--main">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <a [routerLink]="['Products']" class="btn btn-default btn-block">Produkte</a>
                    <a href="/" class="close-sub-site text-white text-center"><span class="icon icon-close-circle"></span></a>
                </div>
                <div class="col-sm-3">
                    <a [routerLink]="['SeasonCalendar', {month: month}]" class="btn btn-default btn-block">Saisonkalender</a>
                    <a href="/" class="close-sub-site text-white text-center"><span class="icon icon-close-circle"></span></a>
                </div>
                <div class="col-sm-3">
                    <a [routerLink]="['Recipes']" class="btn btn-default btn-block">Rezepte</a>
                    <a href="/" class="close-sub-site text-white text-center"><span class="icon icon-close-circle"></span></a>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input type="text" id="search--main" class="form-control" placeholder="Jonagold, Tomate, ...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="icon icon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div id="content--main">
    <router-outlet></router-outlet>
</div>