<section id="search">
    <div class="container position-relative">
        <div id="search-top">
            <div class="row">
                <div class="col-xs-11">
                    <input (keyup)="searchFor(searchInput.value)"
                           #searchInput
                           type="text" id="search-input" placeholder="Jonagold, Tomate, ...">
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-default pull-right" type="button"
                            [class.hidden]="searchInput.value.length > 0"
                            (click)="searchFor(searchInput.value)">
                        <span class="icon icon-search"></span>
                    </button>
                    <button class="btn btn-default pull-right" type="button"
                            [class.hidden]="searchInput.value.length < 1"
                            (click)="resetSearch(); searchInput.value = ''">
                        <span class="icon icon-close"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="search-bottom" class="hidden">
            <div class="row">
                <div class="col-xs-12">FILTER</div>
            </div>
        </div>

        <div id="search-result-bg" [class.active]="searchInput.value.length < 1">
            <img src="src/img/logo.png" width="300">
        </div>

        <div id="search-results" [class.active]="searchInput.value.length > 0">
            <p [class.hidden]="!(searchInput.value.length > 1 && (searchResults.name.length < 1 && searchResults.family.length < 1))">
                <em>Keine Ergebnisse gefunden.</em>
            </p>


            <div *ngIf="searchResults.name.length > 0">
                <div class="text-center">
                    <h4 class="hl-bg">Produkte</h4>
                </div>
                <div class="row">
                    <a *ngFor="let product of searchResults.name"
                       (click)="goToProduct(product)">
                        <article class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div *ngIf="product.image">
                                        <img src="{{product.image}}" class="img-responsive">
                                    </div>
                                    <div *ngIf="!product.image">
                                        <img src="http://placehold.it/400x300" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <h3>{{product.name}}<span *ngIf="product.harvestStartMonth == actMonth" class="status status--ripe"></span></h3>
                                    <p><em>{{product.family}}</em></p>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>



            <div *ngIf="searchResults.family.length > 0">
                <div class="text-center">
                    <h4 class="hl-bg">Produkt-Familien</h4>
                </div>
                <div class="row">
                    <a *ngFor="let product of searchResults.family"
                       (click)="goToProduct(product)">
                        <article class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div *ngIf="product.image">
                                        <img src="{{product.image}}" class="img-responsive">
                                    </div>
                                    <div *ngIf="!product.image">
                                        <img src="http://placehold.it/400x300" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <h3>{{product.name}}<span *ngIf="product.harvestStartMonth == actMonth" class="status status--ripe"></span></h3>
                                    <p><em>{{product.family}}</em></p>
                                </div>
                            </div>
                        </article>
                    </a>
                </div>
            </div>



            <div *ngIf="searchResults.name.length > 0" class="hidden">
                <div class="text-center">
                    <h4 class="hl-bg">Rezepte</h4>
                </div>
                <p>
                    <em>Keine Ergebnisse gefunden.</em>
                </p>
            </div>
        </div>
    </div>
</section>