<section id="search">
    <div class="container">
        <div>
            <div class="input-group">
                <input
                    (keyup)="searchFor(searchInput.value)"
                    #searchInput
                    type="text" id="search--main" class="form-control" placeholder="Jonagold, Tomate, ...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="icon icon-search"></span></button>
                </span>
            </div>
        </div>

        <div>
            <h3 class="text-white">Ergebnisse</h3>
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="#result of searchResults">
                    {{result.name}} - ID: {{result._id}}
                </li>
            </ul>
        </div>
    </div>
</section>